{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Space Shooter - An exciting arcade space shooter game. Battle enemies, collect power-ups, and climb the leaderboard!">
  <meta name="theme-color" content="#0d1117">
  <link rel="icon" type="image/png" href="{% static 'img/rocket.png' %}">
  <title>{% block title %}Space Shooter{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stalinist+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <header class="navbar">
    <a class="brand" href="">
        <span class="brand-text">SPACE SHOOTER </span>
        <img class="logo" src="{% static 'img/rocket.png' %}" alt="Space Shooter logo" style="height: 40px;">
    </a>

    <nav class="nav-links">
      <a href="{% url 'landing' %}">Home</a>
      <a href="">Leaderboard</a>
      <a href="">Profile</a>
      <a href="">Contact</a>
      <!-- here it has to be a form because logout view requires a post request -->
      {% if user.is_authenticated %}
      <span style="color: #e4e4e7; margin-right: 10px;">{{ user.username }}</span>
      <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn">Logout</button>
      </form>
      {% else %}
      <a class="btn" href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <!-- Main page content -->
  <main class="page">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-left">
      © {% now "Y" %} Samer Barakat. All rights reserved.
    </div>

    <div class="footer-right">
      <a class="icon-link" href="https://github.com/samerrbarakat" target="_blank" rel="noopener">
        <img src="{% static 'img/github.png' %}" alt="GitHub" style="height: max-content ;">
      </a>

      <a class="icon-link" href="https://linkedin.com/in/samerrbarakat" target="_blank" rel="noopener">
        <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn" style="height: max-content;">
      </a>

        <a class="icon-link" href="mailto:samerrbarakat@example.com" target="_blank" rel="noopener">
            <img src="{% static 'img/gmail.png' %}" alt="Email" style="height: max-content; ">
        </a>
    </div>
  </footer>

  {% block extra_js %}{% endblock %}
  
</body>
</html>
